.TopIndexPerformance {
    background-color: transparent;
    color: var(--user-normal-text-color-global);
  }
  
  .TopIndexPerformance h2 {
    font-size: 24px;
    font-weight: 650;
    margin-bottom: 20px;
  }
  
  .indices-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .index-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .index-item h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .index-item p {
    font-size: 14px;
    margin: 5px 0;
  }
  