.stock-watchlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 70px 30px 70px 70px; /* top, right, bottom, left */
    background-color: rgb(0, 0, 0);
}

/* When the viewport is 600px or wider, split into 2 columns with the first column twice as wide as the second */
@media (min-width: 600px) {
    .stock-watchlist {
        grid-template-columns: 9fr 5fr;
    }
}


.centered-content h1, .centered-content h2 {
    color: white;
}


.stock-name-header {
    text-align: left;
    margin-bottom: 6px; /* adjust as needed */
    color: white;
    margin-top: 7px;
}

.price-header {
    text-align: left;
    margin-top: 0px; /* adjust as needed */
    color: white;
    color: green;
}

.blur-effect {
    position: absolute;
    top: 10%; /* Adjust this to move the blur effect vertically */
    left: 10%; /* Adjust this to move the blur effect horizontally */
    width: 807px; /* Adjust this to change the width of the blur effect */
    height: 807px; /* Adjust this to change the height of the blur effect */
    border-radius: 807px;
    filter: blur(200px);
    z-index: 0; /* This will put the blur effect above the background but still behind the content */
    flex-shrink: 0;
}

.search-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}

.grid-item {
    background-color: #000000 !important; /* Change the background color to black */
    border-color: #000000 !important; /* Change the border color to black */
}

.second-column-first-item {
    margin-top: 63px;
}