.sidebar {
    width: 10px;
    height: calc(100vh - 75px);
    position: fixed;
    left: 0;
    top: 63px;
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    color: #fff;
    padding: 20px;
    transition: width 0.5s;
    overflow: hidden;
    z-index: 9999;
    border-right: 1px solid #ffffff2a;
}

/* rest of your CSS */

.sidebar:hover {
    width: 200px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
}

.sidebar li a {
    color: #fff;
    text-decoration: none;
}

.sidebar-text {
    display: none; /* Hide text initially */
}

.sidebar:hover .sidebar-text {
    display: inline; /* Show text on hover */
}