:root {
    --green: #51C51D;
    --red: #FF0000;
    
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.chart-header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.price-info {
    /* Styles for the price info container */
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
}

.stock-name {
    /* Styles for the stock name */
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.current-price {
    /* Styles for the current price */
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.description {
    color: white; /* Adjust as needed */
}
.price-change {
    /* Styles for the price change */
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.price-change.positive {
    color: var(--green)
}

.price-change.negative {
    color: var(--red) /* Adjust as needed */
}

.chart-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.09);

    backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 2px;
    outline: 2px solid rgba(255, 255, 255, 0.2); /* Added outline */
}

.chart-content:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
}

.chart-wrapper {
    width: 100%;
    height: 93%; /* Adjust as needed */
}

.button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    

    
}

.button {
    color: rgb(255, 255, 255);
    margin-right: 20px; /* Add this to add space between the buttons */
    font-size: 13px;
    margin-bottom: 5px; 
    margin-left: 7px;
}

.button:hover {
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the element */
    color: blue; /* Use the CSS variable for the color */
}

.button:active {
    transform: none;
}

.button.positive {
    color: var(--green)
}

.button.negative {
    color: var(--red)
}
.settings-icon {
    font-size: 1.2em; /* Adjust as needed */
    margin-left: auto;
}

.settings-button {
    margin-left: auto;
}