.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chart-header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.price-info {
    /* Styles for the price info container */
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
}

.stock-name {
    /* Styles for the stock name */
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.current-price {
    /* Styles for the current price */
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.price-change {
    /* Styles for the price change */
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.chart-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgb(0, 0, 0) 0% 0% / 100px 100px repeat, radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(28, 27, 51, 0.10) 100%);
    box-shadow: 40px 40px 400px 40px rgba(204, 215, 255, 0.174) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

.chart-wrapper {
    width: 100%;
    height: 93%; /* Adjust as needed */
}

.button-wrapper {
    width: 100%;
    height: 7%; /* Adjust as needed */
    padding: 20px; /* Increase this to move the buttons down */
}

.button {
    color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 20px; /* Add this to add space between the buttons */
    font-size: 13px;
}

.button:hover {
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the element */
    color: blue; /* Use the CSS variable for the color */
}

.button:active {
    transform: none;
}

.button.positive {
    color: green;
}

.button.negative {
    color: red;
}