/* This file contains the styling for the user header HEIGHT IS 62 */

.user-header {
    position: fixed;
    top: 0;
    width: calc(100%);
    min-width: 640px;
    height: 50px;
    padding: 6px;
    display: flex;
    justify-content: flex-start; /* Changed from space-between to flex-start */
    align-items: center;
    border-bottom: 1px solid var(--Container-border, rgba(255, 255, 255, 0.10));
    background: rgba(0, 0, 0, 0.09); /* gives it that dark color */
    backdrop-filter: blur(10px);
    z-index: 1000;
    color: white;
}

.user-header h1 {
    color: var(--Foreground-primary, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .3px;
}






  .right-header {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
.button-container {
    display: flex;
    align-items: center;
}

.user .hover-login, .products .hover-element {
    text-decoration: none;
    border-radius: 8px;
    
   
    display: flex;
    padding: var(--Button-vertical-padding, 6px) var(--Button-horizontal-padding, 16px);
    align-items: center;
    gap: var(--Button-gap, 8px);
    color: white;
    margin-left: auto;
    transition: all 0.3s ease;
}


.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
    margin-left: 75px;
    width: 50px;
}


.products {
    display: flex;
    align-items: center; /* This will center the items vertically */
  }


.products .hover-element {
    gap: 10px;
    color: var(--Foreground-primary, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.products {
    display: flex;
    gap: 10px;
}

.profile-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  

.profile-icon {
  margin-right: 50px; /* Adjust this value as needed */
}


.premium-profile {
    margin-left: 75px;
    padding: 70px;
}