/* Welcome_Page.css */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  


.welcome-page {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding-top: 170px;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: space-between; /* Add this line */
  }
  
.welcome-text {
    animation: fadeIn 2s ease-in-out;
    background: linear-gradient(90deg, #FFF 1.63%, rgba(255, 255, 255, 0.715) 103.32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -3px;
}

.auth-button {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(61, 66, 68, 0.00) -40.91%, rgba(158, 170, 176, 0.62) 132.95%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.10), 0px 10px 40px 0px rgba(255, 255, 255, 0.15), 0px 8px 10px 0px rgba(246, 249, 255, 0.20) inset;
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    width: 150px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    line-height: 50px; /* Vertically center the text */
    text-align: center; /* Horizontally center the text */
}

.auth-button:hover {
    opacity: 0.8;
}

.blur-effect {
    position: absolute;
    top: 10%; /* Adjust this to move the blur effect vertically */
    left: 10%; /* Adjust this to move the blur effect horizontally */
    width: 807px; /* Adjust this to change the width of the blur effect */
    height: 807px; /* Adjust this to change the height of the blur effect */
    border-radius: 807px;
    filter: blur(200px);
    z-index: 1; /* This will put the blur effect above the background but still behind the content */
    flex-shrink: 0;
}
.welcome-page {
    position: relative; /* This is needed for the z-index of the children to work */
    background: black; /* This will set the background color to black */
}

.welcome-page::before {
    content: "";
    position: absolute;
    top: 10%; /* Adjust this to move the blur effect vertically */
    left: 10%; /* Adjust this to move the blur effect horizontally */
    width: 80%; /* Adjust this to change the width of the blur effect */
    height: 80%; /* Adjust this to change the height of the blur effect */
    border-radius: 1054px;
    background: linear-gradient(135deg, #176AB1 0%, #CBD8F1 100%); /* This will set the background color of the blur effect */
    filter: blur(100px);
    z-index: 1; /* This will put the blur effect above the background but still behind the content */
    opacity: 0.4; /* This will make the blur effect more opaque */
}

.auth-button, .welcome-text {
    position: relative;
    z-index: 2; /* This will put the content in front of the blur effect */
}


.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* This will make the content take up the full height of the parent */
  }


  /* Welcome_Page.css */
.about-me-section {
    border: 1px solid #000; /* Add a border */
    padding: 20px; /* Add some padding */
    margin-top: 20px; /* Add some margin at the top */
    background-color: rgb(0, 0, 0);
  }
  
  .about-me-title {
    font-size: 24px;
    font-weight: 700;
  }
  
  .about-me-text {
    font-size: 16px;
    font-weight: 400;
  }
  
  /* existing styles... */


  /* styles.css */
.footer {
    color: var(--Foreground-primary, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer h2 {
    font-weight: bold; /* Make the section titles bold */
  }
  
  .footer a {
    color: var(--Foreground-primary, #FFF); /* Make the links the same color as the text */
    text-decoration: none; /* Remove the underline from the links */
  }
  
  .footer a:hover {
    text-decoration: underline; /* Add the underline back when the links are hovered */
  }