.ESG_Risk_Score {
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  .circular-progress-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
  }
  
  .esg-label {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ffa500; /* Match the color to the sentiment */
  }
  
  svg {
    overflow: visible;
  }
  
  svg path {
    stroke-dashoffset: 0;
    transition: stroke-dasharray 0.3s ease;
    filter: url(#glow);
  }
  
  svg line {
    filter: url(#glow);
  }
  
  @media (max-width: 768px) {
    .circular-progress-container {
      width: 50px;
      height: 50px;
    }
  
    .esg-label {
      font-size: 1em;
    }
  }
  