.account-general-more-detailed-information {
    color: white;
  }
  
  .account-general-more-detailed-information ul {
    list-style-type: none;
    padding: 0;
  }
  
  .account-general-more-detailed-information li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .holding-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #f0f0f0; /* Light gray background */
  }
  
  .default-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Darker text color */
    font-size: 1.5rem; /* Adjust as needed */
  }
  